body {
  margin: 0;
  padding: 0;
  background-image: url('/img/toronto.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif;
  color: white;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 10px 0;
}

.app-header h1 {
  font-size: 3rem;
  color: #512C46;
  margin: 0;
}

.weather-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 20px;
}

.weather-panels-container {
  background: rgba(81, 44, 70, 0.7);
  border-radius: 15px;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-panel {
  background: rgba(81, 44, 70, 1);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  max-width: 300px;
  min-width: 250px;
  margin: 25px;
  text-align: left;
  color: white;
}

.weather-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.weather-panel p {
  font-size: 1.2rem;
  margin: 5px 0;
}




